@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

.myInput {
    width: 1000px;
    height: 100px;
    border: 0;border-radius: 10px;

    background-color: #D3FD01;
  
  }

